In [13]:
import pandas as pd
import numpy as np
import pandas_profiling
import json

# spark imports
from pyspark.sql import SQLContext
from pyspark import SparkContext
from pyspark.sql.functions import col
from pyspark.ml.feature import RegexTokenizer, StopWordsRemover, CountVectorizer
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS, ALSModel

In [ ]:
from pyspark.sql.types import (
    ArrayType,
    AtomicType,
    BinaryType,
    BooleanType,
    ByteType,
    CloudPickleSerializer,
    DataType,
    DataTypeSingleton,
    DateConverter,
    DateType,
    DatetimeConverter,
    DecimalType,
    DoubleType,
    FloatType,
    FractionalType,
    IntegerType,
    IntegralType,
    JavaClass,
    LongType,
    MapType,
    NullType,
    NumericType,
    Row,
    ShortType,
    SparkContext,
    StringType,
    StructField,
    StructType,
    TimestampType,
    UserDefinedType,
)

In [4]:
movies = pd.read_csv('data/movies_metadata.csv')

/Users/bar/dev/miniconda/envs/learn-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [53]:
movies['belongs_to_collection'].value_counts()

{'id': 415931, 'name': 'The Bowery Boys', 'poster_path': '/q6sA4bzMT9cK7EEmXYwt7PNrL5h.jpg', 'backdrop_path': '/foe3kuiJmg5AklhtD3skWbaTMf2.jpg'}                                  29
{'id': 421566, 'name': 'TotÃ² Collection', 'poster_path': '/4ayJsjC3djGwU9eCWUokdBWvdLC.jpg', 'backdrop_path': '/jaUuprubvAxXLAY5hUfrNjxccUh.jpg'}                                  27
{'id': 96887, 'name': 'ZatÃ´ichi: The Blind Swordsman', 'poster_path': '/8Q31DAtmFJjhFTwQGXghBUCgWK2.jpg', 'backdrop_path': '/bY8gLImMR5Pr9PaG3ZpobfaAQ8N.jpg'}                     26
{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg'}                                26
{'id': 37261, 'name': 'The Carry On Collection', 'poster_path': '/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg', 'backdrop_path': '/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg'}                           25
{'id': 34055, 'name': 'PokÃ©mon Collection', 'poster_path': '/j5te0YNZAMXDBnsqTUDKIBEt8iu.jpg', 'backdrop_path': '/iGoYKA0TFfgSoZpG2u5viTJMGfK.jpg'}                                22
{'id': 413661, 'name': 'Charlie Chan (Sidney Toler) Collection', 'poster_path': '/y0xWQpLRattvypZXF5ZiuipsD2U.jpg', 'backdrop_path': None}                                         21
{'id': 374509, 'name': 'Godzilla (Showa) Collection', 'poster_path': '/scvwS6k8gIW8w24UcmePQqVL10l.jpg', 'backdrop_path': '/dx9YSup5zEOjxYwG4UkYBVAZIXo.jpg'}                      16
{'id': 425164, 'name': 'Dragon Ball Z (Movie) Collection', 'poster_path': '/2VMZ1zRFPnUQtQp5K4WRXvDYBjh.jpg', 'backdrop_path': '/7PcbijxTfwi9vjWEfXdS0ReAw8q.jpg'}                 15
{'id': 148324, 'name': 'Uuno Turhapuro', 'poster_path': None, 'backdrop_path': None}                                                                                               15
{'id': 38451, 'name': 'Charlie Chan (Warner Oland) Collection', 'poster_path': '/eSDdu6pbocmayu1SXQFU9VYYoQ6.jpg', 'backdrop_path': '/9bE62qBanBFtoiIc9cXjk1xW3w.jpg'}             15
{'id': 224026, 'name': 'Monster High Collection', 'poster_path': '/z230ua2CDBkPAQCOUmENphU9Hm9.jpg', 'backdrop_path': '/kDsPcm1Qx5zjPNAZ80dBSHdTowH.jpg'}                          14
{'id': 19163, 'name': 'The Land Before Time Collection', 'poster_path': '/n1bjdBVThBezxR6nEf2dy43sTtV.jpg', 'backdrop_path': '/alkvR9vTtuZEmd5ygsayOfxYOMa.jpg'}                   14
{'id': 479319, 'name': 'George Carlin Comedy Collection', 'poster_path': None, 'backdrop_path': None}                                                                              13
{'id': 69788, 'name': 'Sharpe Collection', 'poster_path': '/hmdcvEQA2uCGwB8MflWj0zTWov.jpg', 'backdrop_path': None}                                                                13
{'id': 478628, 'name': 'Sherlock Holmes (1939 series)', 'poster_path': '/vjERITzfag3OJM6QXjZO6H7Ai3s.jpg', 'backdrop_path': '/uuk6Gja81opjfmA7MN3WsOdtMYf.jpg'}                    12
{'id': 24717, 'name': 'Johan Falk GSI Collection', 'poster_path': '/7ePcKBHb0GAYugtOlU9QhRVLzNb.jpg', 'backdrop_path': '/1k71fktd6XL4b5sk0YH9yA8TwMX.jpg'}                         12
{'id': 9735, 'name': 'Friday the 13th Collection', 'poster_path': '/uobgqpLQff9WvxGKE2OSvXv1RHm.jpg', 'backdrop_path': '/c7pMKwv5NzIN6N3KM4L8fYMTtPw.jpg'}                         12
{'id': 397842, 'name': 'The Amityville Horror Collection', 'poster_path': '/8uCu7d43IHPwFfNS2qCyVuRP1cP.jpg', 'backdrop_path': '/kPfuozrsE7pmFFolkR0xFicZDJT.jpg'}                 12
{'id': 25542, 'name': 'An American Girl Collection', 'poster_path': '/5JpcRXXuFSgYUgtSKvcdQE9LaMS.jpg', 'backdrop_path': '/1jt2T8oHR1NlzXr7TmSp0Ly9m9D.jpg'}                       10
{'id': 97919, 'name': 'The Love Comes Softly Collection', 'poster_path': '/AoO3BPRgLa044ppf0oNWqF7t4SI.jpg', 'backdrop_path': None}                                                10
{'id': 8917, 'name': 'Hellraiser Collection', 'poster_path': '/lIK0UgJsA18Z5I1PwpucXzgyF3A.jpg', 'backdrop_path': '/uaEUgCqB6lGkvM4Wy5blNwLJdfa.jpg'}                              10
{'id': 458017, 'name': 'Tom and Jerry Collection', 'poster_path': '/yBLkGyOVYN9yaQFVlRNnQapOMFQ.jpg', 'backdrop_path': '/hJuGS7kqaNxdHHDMEuof2GamCcK.jpg'}                         10
{'id': 41658, 'name': 'Fantozzi Collection', 'poster_path': '/m5pURXwh5fVdOG1vXvbKdJeW2hn.jpg', 'backdrop_path': '/h2L6fnTYieCrNscxbtjGG31lBRm.jpg'}                               10
{'id': 107949, 'name': 'Puppet Master Collection', 'poster_path': '/wuLaEcy10wqgiVi4nCjdPXvcCyw.jpg', 'backdrop_path': '/crDZjaOpoUCIOoiQ9nLIAt8ZBul.jpg'}                         10
{'id': 188138, 'name': 'Il Maresciallo Giraldi Collection', 'poster_path': '/epNJVOU4c5i4P6Idifr7NwEQ3xM.jpg', 'backdrop_path': '/4UWNAVofz3dxMKdYyz2toobAooM.jpg'}                10
{'id': 53043, 'name': 'The Magick Lantern Cycle', 'poster_path': '/zvxHgzOCyjI7uMoVkQF07zxOz7J.jpg', 'backdrop_path': None}                                                         9
{'id': 115225, 'name': 'Children of the Corn Collection', 'poster_path': '/v6auJblMcNxUmZx23mQXMHmzyY3.jpg', 'backdrop_path': '/g4aK8Up5zSegesJdMYbxDcndn20.jpg'}                   9
{'id': 94039, 'name': 'Asterix and Obelix (Animation) Collection', 'poster_path': '/mJ85mdtrQl2LWTNAHHcSJC55dcs.jpg', 'backdrop_path': '/f0mc4ObY75CrFzOYGNGiHXjgKGz.jpg'}          9
{'id': 23240, 'name': 'The Garden of Sinners', 'poster_path': '/d7aiLYwivuSimHuDru4wfrmb9O8.jpg', 'backdrop_path': '/sluEcYhQPGweluu4uS0yDpKik10.jpg'}                              9
                                                                                                                                                                                   ..
{'id': 473185, 'name': 'Dead in Tombstone Collection', 'poster_path': '/3TdTcCWDBNaekYDxkQyb0heDLaR.jpg', 'backdrop_path': '/yUGYwtE4KQ36MLOT2PD497op5T4.jpg'}                      1
{'id': 313234, 'name': 'Warriors of the Rainbow: The Seediq Bale Saga', 'poster_path': '/yMEfqUojPRBwa3EgQrgmDc1emwk.jpg', 'backdrop_path': '/uoEJjaPHXG33t5z7ffHdNXwE52s.jpg'}     1
{'id': 477050, 'name': "Takashi Miike's Young Thugs series", 'poster_path': None, 'backdrop_path': None}                                                                            1
{'id': 473971, 'name': "Daddy's Home Collection", 'poster_path': None, 'backdrop_path': '/16w6DLmX0OqGT5qBdMpfpWh4VkU.jpg'}                                                         1
{'id': 151149, 'name': 'My Sisters Kids Collection', 'poster_path': '/6b9u0jK0bBhbqiuQvzw1hToBS7Q.jpg', 'backdrop_path': None}                                                      1
{'id': 421605, 'name': 'Heidi (Praesens-Film) Filmreihe', 'poster_path': None, 'backdrop_path': None}                                                                               1
{'id': 8412, 'name': 'Anatomy Collection', 'poster_path': '/5cMGSefT2oJvzRNwX4IvZQOGO20.jpg', 'backdrop_path': None}                                                                1
{'id': 445049, 'name': 'Il medico della mutua Collection', 'poster_path': None, 'backdrop_path': None}                                                                              1
{'id': 385650, 'name': 'The Spiritual Boxer Collection', 'poster_path': None, 'backdrop_path': None}                                                                                1
{'id': 413937, 'name': 'Father Flanagan Collection', 'poster_path': None, 'backdrop_path': None}                                                                                    1
{'id': 422834, 'name': 'Ant-Man Collection', 'poster_path': '/lEdpEJWJdtVLgmpPkXSTd2xczmY.jpg', 'backdrop_path': '/2KjtWUBiksmN8LsUouaZnxocu5N.jpg'}                                1
{'id': 245321, 'name': 'K3 Collectie', 'poster_path': '/4cprWMgcMuLuyDQd9KJ59IqNZmK.jpg', 'backdrop_path': '/bayyg4xGqAv2GqPSLtahbNXovzO.jpg'}                                      1
{'id': 119237, 'name': 'Legends of the Poisonous Seductress', 'poster_path': None, 'backdrop_path': None}                                                                           1
{'id': 122778, 'name': 'Wodehouse P.G. Collection', 'poster_path': '/q0q7SlFCe0RUpbbhjEf6YatdNWs.jpg', 'backdrop_path': '/vpi9WAWcStFqiTZ5qJu0LagePjm.jpg'}                         1
{'id': 104202, 'name': 'Mr. Bones Collection', 'poster_path': '/xeNZfbjPELUXdQEiP7RpfafuzvI.jpg', 'backdrop_path': '/zEew77dhNFiXGnBXfO8U84M4eVy.jpg'}                              1
{'id': 246207, 'name': 'Gunbuster Collection', 'poster_path': '/8JSBwgZzGDVsvuldYsz2KADQVeK.jpg', 'backdrop_path': None}                                                            1
{'id': 147220, 'name': 'Valami Amerika gyÅ±jtemÃ©ny', 'poster_path': '/k5xCTxTo2juGj5ptZ8s0cL7fEnt.jpg', 'backdrop_path': None}                                                       1
{'id': 374436, 'name': 'Waldemar Daninsky Collection', 'poster_path': None, 'backdrop_path': None}                                                                                  1
{'id': 372479, 'name': 'Les Boys', 'poster_path': '/n2Nv7Ee8UYdT8TuVQrlvMZDjzHd.jpg', 'backdrop_path': '/lh0KN07Qds44GIODICc9TyAogh5.jpg'}                                          1
{'id': 93788, 'name': 'Prep & Landing Collection', 'poster_path': '/zRTaRvG5JZW2ysuGxYRH37WSLHK.jpg', 'backdrop_path': '/kmsH4aq0lwgryQBoCfXZzyp6z4O.jpg'}                          1
{'id': 412736, 'name': 'Rare Exports Collection', 'poster_path': '/6CjWXoYdgqPtC41cDzW9YoWJyB1.jpg', 'backdrop_path': '/oUOWdFm3Jf0SNv7spQYPnDEnYsA.jpg'}                           1
{'id': 213697, 'name': 'Sex is Zero Collection', 'poster_path': '/miHDPsREH4A76EFXCGOt54GEzk0.jpg', 'backdrop_path': '/6jhA3DVd2n4Oj3jfWrJ9yUX9ZJd.jpg'}                            1
{'id': 400412, 'name': 'Northpole', 'poster_path': '/7BPol85ZT4sTArG5o1LAZUerxKN.jpg', 'backdrop_path': '/sh20SSa08JTeorJbSpWXR5Bev95.jpg'}                                         1
{'id': 159340, 'name': 'Bang Rajan Collection', 'poster_path': '/fqG9lxqOBEhnmsWL7IXriOPxUmW.jpg', 'backdrop_path': '/6YjVi1fSS4uQQ4paHBfwFCNtBRB.jpg'}                             1
{'id': 446015, 'name': 'Golgo 13 Collection', 'poster_path': '/cU9hNpM3gtHo4Gy4OYpUncMJbSD.jpg', 'backdrop_path': '/7J3TYZOrKyFlw8GB4wuTh3svUav.jpg'}                               1
{'id': 224976, 'name': 'Road House Collection', 'poster_path': None, 'backdrop_path': None}                                                                                         1
{'id': 468039, 'name': 'The Sally Lochhart Mysteries Collection', 'poster_path': None, 'backdrop_path': None}                                                                       1
{'id': 256374, 'name': 'Zero Woman Collection', 'poster_path': '/5cMurF48jK1kiuVqTO9QA8XKyVI.jpg', 'backdrop_path': None}                                                           1
{'id': 464374, 'name': 'Ur kÃ¤rlekens sprÃ¥k', 'poster_path': None, 'backdrop_path': None}                                                                                            1
{'id': 472917, 'name': 'In the Vineyard Collection', 'poster_path': None, 'backdrop_path': None}                                                                                    1
Name: belongs_to_collection, Length: 1698, dtype: int64

In [5]:
movie_dat = pd.read_csv('data/movies.dat', sep='::', header=None, index_col=0)

/Users/bar/dev/miniconda/envs/learn-env/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [6]:
movie_dat.tail()

                               1               2
0
3948     Meet the Parents (2000)          Comedy
3949  Requiem for a Dream (2000)           Drama
3950            Tigerland (2000)           Drama
3951     Two Family House (2000)           Drama
3952       Contender, The (2000)  Drama|Thriller

In [27]:
import pyspark

spark = (pyspark.sql.SparkSession.builder 
  .master("local[*]")
  .getOrCreate())

ratings = spark.read.json("./data/ratings.json")
requests = spark.read.json("./data/requests.json")

ratings.show()
requests.show()

+--------+------+------------+-------+
|movie_id|rating|   timestamp|user_id|
+--------+------+------------+-------+
|     858|     4|9.56678732E8|   6040|
|    2384|     4|9.56678754E8|   6040|
|     593|     5|9.56678754E8|   6040|
|    1961|     4|9.56678777E8|   6040|
|    1419|     3|9.56678856E8|   6040|
|     213|     5|9.56678856E8|   6040|
|    3111|     5|9.56678856E8|   6040|
|     573|     4|9.56678856E8|   6040|
|    3505|     4|9.56678856E8|   6040|
|    1734|     2|9.56678881E8|   6040|
|    2503|     5|9.56678991E8|   6040|
|     919|     5|9.56678991E8|   6040|
|     912|     5|9.56678991E8|   6040|
|     527|     5|9.56679019E8|   6040|
|    1252|     5|9.56679057E8|   6040|
|     649|     5|9.56679057E8|   6040|
|     318|     4|9.56679057E8|   6040|
|    3289|     5|9.56679105E8|   6040|
|     608|     4|9.56679275E8|   6040|
|    2396|     3|9.56679275E8|   6040|
+--------+------+------------+-------+
only showing top 20 rows

+--------+------+------------+-------+
|movie_id|rating|   timestamp|user_id|
+--------+------+------------+-------+
|    2019|   NaN|9.56678777E8|   6040|
|     759|   NaN|9.56679248E8|   6040|
|    2858|   NaN|9.56679275E8|   6040|
|     246|   NaN|9.56679413E8|   6040|
|    1617|   NaN|9.56679473E8|   6040|
|    2324|   NaN|9.56679629E8|   6040|
|    1089|   NaN|9.56679796E8|   6040|
|    2804|   NaN|9.56680123E8|   6039|
|     933|   NaN| 9.5668027E8|   6039|
|    1304|   NaN|9.56680308E8|   6039|
|     945|   NaN|9.56680453E8|   6039|
|    1097|   NaN|9.56680611E8|   6039|
|     919|   NaN|9.56680672E8|   6039|
|    1282|   NaN|9.56680707E8|   6039|
|    1022|   NaN|9.56680707E8|   6039|
|     588|   NaN| 9.5668075E8|   6039|
|    1951|   NaN| 9.5668075E8|   6039|
|    1380|   NaN|9.56680789E8|   6039|
|     199|   NaN|9.56680875E8|   6039|
|     926|   NaN|9.56681124E8|   6039|
+--------+------+------------+-------+
only showing top 20 rows

In [24]:
#f = open('data/requests.json')
#data = json.load(f)
#print(type(data))

ratings_list = []
with open('data/ratings.json') as f:
    for line in f:
        ratings_list.append(json.loads(line))

In [25]:
ratings_list[0]

{'user_id': 6040, 'movie_id': 858, 'rating': 4, 'timestamp': 956678732.0}

# Spark Pipeline